---
import Button from './Button.astro';
import siteConfig from '../data/site-config';

---

{
        <section class='px-2 py-2 flex flex-col items-center text-center sm:px-2 sm:py-2'>
                <h2 class='w-full max-w-xl text-2xl leading-tight font-serif font-medium sm:text-4xl', 'mb-2' : 'mb-4'>
                    Preorder the paperback!</h2>
            <p class="w-full max-w-xl mb-8 text-sm leading-normal">In June 2025, <em>Tâigael: Stories from Taiwanese and Gaelic</em> will be published in handsome paperback edition. Four stories by four writers in four languages, with linked audio here on this website! Pre-order by May 1st 2025 to get your name listed as one of our supporters in the book!</p>
            <p class="w-full max-w-xl mb-8 text-sm leading-normal"><Button href="https://books.windandbones.com/product/taigael-stories-from-taiwanese-and-gaelic">Pre-order now!</Button></p>
            <div class="flex justify-center items-center">
                <a href="https://books.windandbones.com/product/taigael-stories-from-taiwanese-and-gaelic" target="_blank" rel="noopener noreferrer">
    <img class="h-auto max-w-full" src="/images/taigaelcover.jpg" alt="Image description">
  </a>      
            </div>
        </section>
}
