---
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const subscribe = siteConfig.subscribe;

const { class: className } = Astro.props;
---

{
    subscribe?.formUrl && (
        <section class:list={['px-8 py-12 flex flex-col items-center border border-dashed border-main text-center sm:px-12 sm:py-16', className]}>
            {subscribe.title && (
                <h2 class:list={['w-full max-w-xl text-2xl leading-tight font-serif font-medium sm:text-4xl', subscribe.text ? 'mb-4' : 'mb-8']}>
                    {subscribe.title}
                </h2>
            )}
            {subscribe.text && <p class="w-full max-w-xl mb-8 text-sm leading-normal">{subscribe.text}</p>}
            <iframe src="https://embeds.beehiiv.com/ba948d18-d48f-4815-ba32-a2ea5daa2297?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
        </section>
    )
}
